/* You can add global styles to this file, and also import other style files */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 16px;
  color: #212529;
}
*{
  margin: 0;
}
.primary-color{
  color: #3366CC;
}
.primary-dark{
  color: #264d99;
}

